<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>152247020969-ft5osv8hcim9l93j9381rkrbpkh7m0al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152247020969-ft5osv8hcim9l93j9381rkrbpkh7m0al</string>
	<key>API_KEY</key>
	<string>AIzaSyAJAct8DW2ZMePlD1nG1Z3bfjHKIPUtXwA</string>
	<key>GCM_SENDER_ID</key>
	<string>152247020969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musiclover</string>
	<key>PROJECT_ID</key>
	<string>musiclover-3650f</string>
	<key>STORAGE_BUCKET</key>
	<string>musiclover-3650f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152247020969:ios:924775d8f0ad88a1</string>
	<key>DATABASE_URL</key>
	<string>https://musiclover-3650f.firebaseio.com</string>
</dict>
</plist>